<!-- <h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%=name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a> -->

<div class="background-wheather">
    <div class="container">
        <div class="contents">
            <span class="welcome1 "> Welcome </span><span class="welcome1 "> Moglan Andrei </span>
        </div>
        <div class="input-group md-form form-sm form-2 pl-0  contents">
            <input class="search-box form-control my-0 py-1 amber-border " id="search-box" type="text"
                placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <span class="input-group-text amber lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
                        aria-hidden="true"></i></span>
            </div>
        </div>

        <!-- Card -->
        <div class="card weather-card mt-5">

            <!-- Card content -->
            <div class="card-body pb-3">

                <!-- Title -->
                <h4 class="city card-title font-weight-bold"></h4>
                <!-- Text -->
                <p class="date card-text"></p>
                <div class="d-flex justify-content-between">
                    <p class="temp display-1 degree"></p>
                    <p class="weather"></p>
                    <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
                </div>
                <div class="d-flex justify-content-between mb-4">
                    <p class="humidity"><i class=" fas fa-tint fa-lg text-info pr-2"></i></p>
                    <p class="wind"><i class="fas fa-leaf fa-lg grey-text pr-2"></i></p>
                </div>


                <div class="collapse-content">

                    <div class="collapse" id="collapseExample">

                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td class="font-weight-normal align-middle">Tuesday</td>
                                    <td class="float-right font-weight-normal">
                                        <p class="mb-1">24&deg;<span class="text-muted">/12&deg;</span></p>
                                    </td>
                                    <td class="float-right mr-3">
                                        <i class="fas fa-sun fa-lg amber-text"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-normal align-middle">Wednesday</td>
                                    <td class="float-right font-weight-normal">
                                        <p class="mb-1">19&deg;<span class="text-muted">/10&deg;</span></p>
                                    </td>
                                    <td class="float-right mr-3">
                                        <i class="fas fa-cloud-sun-rain fa-lg text-info"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-normal align-middle">Thursday</td>
                                    <td class="float-right font-weight-normal">
                                        <p class="mb-1">23&deg;<span class="text-muted">/15&deg;</span></p>
                                    </td>
                                    <td class="float-right mr-3">
                                        <i class="fas fa-sun fa-lg amber-text"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-normal align-middle">Friday</td>
                                    <td class="float-right font-weight-normal">
                                        <p class="mb-1">26&deg;<span class="text-muted">/19&deg;</span></p>
                                    </td>
                                    <td class="float-right mr-3">
                                        <i class="fas fa-sun fa-lg amber-text"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-normal align-middle">Saturday</td>
                                    <td class="float-right font-weight-normal">
                                        <p class="mb-1">20&deg;<span class="text-muted">/16&deg;</span></p>
                                    </td>
                                    <td class="float-right mr-3">
                                        <i class="fas fa-cloud fa-lg text-info"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="font-weight-normal align-middle">Sunday</td>
                                    <td class="float-right font-weight-normal">
                                        <p class="mb-1">22&deg;<span class="text-muted">/13&deg;</span></p>
                                    </td>
                                    <td class="float-right mr-3">
                                        <i class="fas fa-cloud-sun fa-lg text-info"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <hr class="">

                    <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 deep-purple-text collapsed"
                        data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample"></a>

                </div>

            </div>

        </div>
        <!-- Card -->

        <div class="center">
            <a href="/users/logout" class="btn btn-primary logout">Logout</a>
        </div>

    </div>